@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}


<div class="row">
    <div class="col-md-7 animate__animated animate__fadeInLeft">
        <img src="~/img/veterinaria.png" class="w-100">
    </div>
    <div class="col-md-5 mt-5 animate__animated animate__fadeInRight text-white">
        <h1 class="fw-bolder mb-0 text-white">Mascota Feliz</h1>
        <p class="fs-6 lead text-white">El mejor portal de veterinaria</p>
        <p class="fs-6 lead text-justify text-white">En nuestra Clínica veterinaria consentimos a tu peludito,
            por eso ofrecemos servicios diseñados especialmente para ellos.</p>
        <p class="fs-6 lead text-justify text-white">En el futuro nos proyectamos a seguir siendo la Clínica Veterinaria preferida
            por ustedes, nuestros clientes, evolucionando día a día con los mejores equipos,
            materiales y productos que sigan garantizando la salud y el bienestar de nuestros pacientes.</p>
    </div>
</div>
<br/>
