@page
@model MascotaFeliz.App.Frontend.Pages.VeterinarioModel
@{
    ViewData["Title"] = "Veterinarios";
}

<div class="row">
    <div class="col-md-5 animate__animated animate__fadeInLeft">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-body">
                <h3 class="fw-bolder mb-0">Registro de Veterinario</h3>
                <p class="fs-6 lead">Ingresa los datos a registrar.</p>
                <form class="needs-validation clss-form" autocomplete="off" method="post">
                    <div class="row g-3">
                        <div class="col-12 mt-1">
                            <label for="nombre" class="form-label mb-0">Nombres</label>
                            <input type="text" class="form-control" asp-for="Veterinario.Nombres" id="nombre" placeholder="Ingresar nombres" required>
                            <div class="invalid-feedback">
                                Se requiere un nombre válido.
                            </div>
                        </div>

                        <div class="col-12 mt-1">
                            <label for="apellido" class="form-label mb-0">Apellidos</label>
                            <input type="text" class="form-control" asp-for="Veterinario.Apellidos" id="apellido" placeholder="Ingresar apellidos"
                                required>
                            <div class="invalid-feedback">
                                Se requiere que ingrese el apellido.
                            </div>
                        </div>

                        <div class="col-12 mt-1">
                            <label for="direccion" class="form-label mb-0">Dirección</label>
                            <input type="text" class="form-control" asp-for="Veterinario.Direccion" id="direccion" placeholder="Ingresar dirección"
                                required>
                            <div class="invalid-feedback">
                                Se requiere que ingrese la dirección.
                            </div>
                        </div>

                        <div class="col-12 mt-1">
                            <label for="telefono" class="form-label mb-0">Teléfono</label>
                            <input type="text" class="form-control" asp-for="Veterinario.Telefono" id="telefono" placeholder="Ingresar teléfono" required>
                            <div class="invalid-feedback">
                                Se requiere que ingrese el teléfono.
                            </div>
                        </div>

                        <div class="col-12 mt-1">
                            <label for="tarProfesional" class="form-label mb-0">Tarjeta profesional</label>
                            <input type="text" class="form-control" id="tarProfesional" asp-for="Veterinario.TarjetaProfesional"
                                placeholder="Ingresar tarjeta profesional" required>
                            <div class="invalid-feedback">
                                Se requiere que ingrese la tarjeta profesional.
                            </div>
                        </div>

                    </div>
                    <button class="w-100 btn btn-primary btn-lg mt-4" type="submit">Registrar</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-7 animate__animated animate__fadeInRight">
        <img src="~/img/veterinario.png" class="w-100">
    </div>
</div>